@using ImageEditor.Models.Transformation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I'm-Mage</title>
    <link rel="stylesheet" href="~/css/w3.css" />
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="kit-flex kit-flex-start w3-container">
        <div class="w3-dropdown-hover">
            <button class="w3-button">Файл</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <button onclick="document.getElementById('upload-image-modal').style.display = 'block';"  class="w3-bar-item w3-button-hover w3-button">Выбрать</button>
                <div class="w3-bar-item w3-dropdown-hover">
                    Сохранить
                    <div class="w3-dropdown-content w3-bar-block w3-border file-extensions-dropdown">
                        <a href="#" class="w3-bar-item w3-button w3-button-hover">как JPG</a>
                        <a href="#" class="w3-bar-item w3-button w3-button-hover">как PNG</a>
                        <a href="#" class="w3-bar-item w3-button w3-button-hover">как BMP</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="w3-border w3-padding-16 editor-container">
            <div class="kit-grid kit-grid-2 filters-grid">
                <h3 class="kit-grid-span-2 kit-flex-center">Фильтры</h3>
                <div class="w3-container kit-flex kit-flex-downward">
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-white w3-ripple
                        selectable-button">
                        Черно-белый
                    </button>
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-green
                        selectable-button">
                        Оттенки зеленого
                    </button>
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-red
                        selectable-button">
                        Оттенки красного
                    </button>
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-blue
                        selectable-button">
                        Оттенки синего
                    </button>
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-indigo
                        selectable-button">
                        Негатив
                    </button>
                </div>
                <div class="kit-flex kit-flex-downward">
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-indigo
                        selectable-button">
                        Размытие
                    </button>
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-indigo
                        selectable-button">
                        Обесцвечивание
                    </button>
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-khaki
                        selectable-button">
                        Сепия
                    </button>
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-indigo
                        selectable-button">
                        Псевдоцвет
                    </button>
                    <button onclick="toggleFilterButtonSelectionStatus(this)"
                            class="w3-panel w3-button w3-round-medium w3-indigo
                        selectable-button">
                        Винтаж
                    </button>
                </div>
            </div>
            <div class="kit-flex kit-flex-downward">
                <div class="editing-image" style="height: 100%; margin-left: 25px;">
                    @RenderBody()
                </div>
                <div class="w3-container w3-margin-top kit-flex-center action-buttons">
                    <button class="w3-button w3-hover-red w3-ripple">Сброс</button>
                    <button class="w3-button w3-hover-amber w3-ripple">Отменить</button>
                    <button id="apply-filters-button" class="w3-button w3-green w3-disabled w3-ripple">Применить</button>
                    <button class="w3-button w3-hover-indigo w3-ripple">Раскрасить</button>
                </div>
            </div>
            <div class="w3-container kit-flex kit-flex-downward">
                <h3 class="kit-flex-center">Трансформация</h3>
                <div class="kit-flex-center w3-half w3-dropdown-hover">
                    <button class="kit-width-full w3-button w3-indigo w3-round-medium">Повернуть</button>
                    <div class="kit-width-full w3-dropdown-content w3-bar-block w3-border">
                        <button onclick="rotateImage('@Rotation.Left90Degrees.ToString()')" class="w3-bar-item w3-button-hover w3-button w3-ripple">На 90&deg; против часовой</button>
                        <button onclick="rotateImage('@Rotation.Right90Degrees.ToString()')" class="w3-bar-item w3-button-hover w3-button w3-ripple">На 90&deg; по часовой</button>
                        <button onclick="rotateImage('@Rotation.UpsideDown.ToString()')" class="w3-bar-item w3-button-hover w3-button w3-ripple">На 180&deg;</button>
                    </div>
                </div>
                <div class="kit-flex-center w3-half w3-dropdown-hover">
                    <button class="kit-width-full w3-button w3-indigo w3-round-medium">Отразить</button>
                    <div class="kit-width-full w3-dropdown-content w3-bar-block w3-border">
                        <button onclick="flipImage('@Flip.Horizontally.ToString()')" class="w3-bar-item w3-button-hover w3-button w3-ripple">По горизонтали</button>
                        <button onclick="flipImage('@Flip.Vertically.ToString()')" class="w3-bar-item w3-button-hover w3-button w3-ripple">По вертикали</button>
                    </div>
                </div>
                <button class="kit-flex-center w3-half w3-panel w3-button w3-indigo w3-round-medium w3-ripple" onclick="toggleElement('zoom')">Масштаб</button>
                <div id="zoom" class="w3-hide w3-center">
                    <span class="input-min-value">0%</span>
                    <input oninput="calculateInput('zoom')" type="range" min="0" max="200" value="100" step="10" />
                    <span class="input-max-value">200%</span> <br />
                    <output>100%</output>
                </div>
                <button class="kit-flex-center w3-half w3-panel w3-button w3-indigo w3-round-medium w3-ripple" onclick="toggleElement('brightness')">Яркость</button>
                <div id="brightness" class="w3-hide w3-center">
                    <span class="input-min-value">0%</span>
                    <input oninput="calculateInput('brightness')" type="range" min="0" max="200" value="100" step="10" />
                    <span class="input-max-value">200%</span> <br />
                    <output>100%</output>
                    <button class="kit-flex-center w3-half w3-panel w3-button w3-hover-green w3-round-medium w3-ripple"
                            onclick="changeBrightness()">
                        Применить
                    </button>
                </div>
                <button class="kit-flex-center w3-half w3-panel w3-button w3-indigo w3-round-medium w3-ripple" onclick="toggleElement('contrast')">Контрастность</button>
                <div id="contrast" class="w3-hide w3-center">
                    <span class="input-min-value">0%</span>
                    <input oninput="calculateInput('contrast')" type="range" min="0" max="200" value="100" step="10" />
                    <span class="input-max-value">200%</span> <br />
                    <output>100%</output>
                    <button class="kit-flex-center w3-half w3-panel w3-button w3-hover-green w3-round-medium w3-ripple"
                            onclick="changeContrast()">Применить
                    </button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p class="w3-margin-left w3-small">
            Графический редактор &laquo;ImMage&raquo; &copy; 2021.
            Разработан студентом группы 8025М <a target="_blank" href="https://new.guap.ru">СПбГУАП</a>
            <a target="_blank" href="https://vk.com/mekk1t">Никитой Калимовым</a>.
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <div id="upload-image-modal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top">
            <header class="w3-container w3-indigo">
                <span onclick="document.getElementById('upload-image-modal').style.display = 'none';" class="close-modal w3-button w3-display-topright">&times;</span>
                <h2>Выбор изображения</h2>
            </header>
            <form class="w3-container" enctype="multipart/form-data" method="post">
                <label for="image-upload">Выберите изображение</label>
                <input onchange="selectImage()" id="image-upload" type="file" />
            </form>
            <footer class="w3-container w3-indigo">
                <i>Выбирайте изображения, пожалуйста.</i>
            </footer>
        </div>
    </div>
</body>
</html>
